################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication2/obj
/WebApplication2/bin/Release/net8.0
/WebApplication2/bin/Debug/net8.0